---
import ThemeIcon from './ThemeIcon.astro'
const { title, sections } = Astro.props
---
<nav class="flex flex-wrap bg-cyan-500 dark:bg-slate-900">
    <!-- NAVBAR TITLE -->
    <div class="flex-none px-8">
        <h1 class="text-2xl font-bold font-mono py-5">{title}</h1>
    </div>
    <!-- NAVBAR MAIN -->
    <div class="grow text-center flex flex-wrap justify-center">
        {sections.map((it: string) => (
            <a class="py-5 px-8 hover:bg-cyan-600 hover:border-b-4 font-bold border-cyan-950 dark:hover:bg-slate-800 dark:border-white max-md:hidden"
            href={'#'+it.toLowerCase()}>
            {it}</a>
        ))}
    </div>
    <!-- NAVBAR UTILS -->
    <div class="flex-none px-8">
        <ThemeIcon />
    </div>
    
</nav>