---
import Project from "./Project.astro";

const { content } = Astro.props;
---

<div class="container flex flex-wrap justify-center mt-6">
  {content.projects.map((project: { title: string; description: string }) => {
      return (
        <Project
          title={project.title}
          description={project.description}
          repoUrl={content.repository_url + "/" + project.title}
        />
      );
    })}
</div>
