---
import { Image } from 'astro:assets'
const { title, content } = Astro.props;
---

<div class="container flex flex-wrap justify-center items-center border-double border-4 bg-cyan-100 border-cyan-500 dark:border-cyan-700 dark:bg-slate-800 rounded-2xl my-3">
    <div class="px-5 py-3 font-bold"><h1>{title}</h1></div>
    {content.map((element: undefined) => {            
            return (<div class="px-5 py-3">
                        <Image src={element} width="40" height="40" quality="mid" alt='lang-icon' />
                </div>)
    })}
</div>

